<style>
<!--
@CHARSET "UTF-8";

@media print {

  a[href]:after {
    content: "";
  }
  
  body {
  	margin: 0mm 0mm 0mm 0mm;
  }

  .page-header {
  	 display: none;
  }
  
  div.boxOuter {
     page-break-inside: avoid;
     border-color: white;
  }
}

.boxOuter {
	width: 390px;
	height: 270px;
	margin: 5px 5px 5px 5px;
	border: 2px solid green;
    overflow: hidden;
    float: left;
}

.qrOuter {
	margin: 20px 0px; 
	float: left;
	width: 220px;
	height: 260px;
}

.descOuter {
	float: left; 
	width: 141px;
	margin: 20px 10px;
}

.store {
	font-size: 16px;
}
.boxName {
	font-size: 16px;
}
.boxDescription {
    font-size: 12px;
}


.product {
	font-size: 8px;
}

-->
</style>
{% for object in data %}
<div class="boxOuter">
	<div class="qrOuter">
	{% set field_description = { 'options': {'size': 200, 'padding' : 0}} %}
	{% include 'YouppersCommonBundle::qr.html.twig' %}
	</div>
	<div class="descOuter">
		<div class="store">Store: {{ object.store }}</div>
		<div class="boxName">Box: [{{ object.code }}] {{ object.name }}</div>
		<div class="boxDescription">{{ object.description }}</div>
	</div>
</div>
{% endfor %}
