{# based on 'SonataAdminBundle:Helper:short-object-description.html.twig' #}
<!-- Youppers/CommonBundle/Resources/views/Helper/short-object-description.html.twig -->
<span class="inner-field-short-description">
	
    {% if object and admin.hasRoute('edit') and admin.isGranted('EDIT') %}
        <a href="{{ admin.generateObjectUrl('edit', object, link_parameters) }}" target="new">
		{% if object.providerName is defined and object.providerName == 'sonata.media.provider.image' %}
        	{% media object, 'admin' %}
    	{% else %}
    		{{ description }}
    	{% endif %}
    	</a>
    {% else %}
        {{ description }}
    {% endif %}
</span>
