{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('products', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-zoom-in"></i>
        {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
